* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.nav-link {
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
}
.nav-link:link {
  text-decoration: none;
}
